<div class="titlePage">
    <h4> </h4>
    <h4 style="font-weight: bold; padding-top: 5px;"> &nbsp;&nbsp;EMPLOYEES</h4>
</div>
<div style="padding: 50px; text-align: center;">
    <div>
        <button class="buttons btn btn-lg" [routerLink]="'/manage-employee'">
            <i class="fas fa-users-cog fa-lg"></i>&nbsp;&nbsp;
            MANAGE EMPLOYEES
        </button>
    </div>
    <br>
    <div>
        <a class="buttons btn btn-lg" routerLink="/employee_type">
            <i class="fas fa-id-card-alt fa-lg"></i>&nbsp;&nbsp;&nbsp;&nbsp;
            EMPLOYEE TYPES
        </a>
    </div>
</div>