<div class="container">
  <button class="btn btn-update" [routerLink]="'/Books'">
    <i class="fas fa-arrow-left"></i> Go Back To Book Page
  </button>

  <div class="container" *ngIf="selectedBook">
    <div class="row" style="border-radius: 20px;background-color: #F5F4F4;padding: 20px;">
      <div class="col-md-5" style="text-align: center;margin-top: 5px;margin-bottom: 5px;">
        <img src="{{ selectedBook.imageBase64 }}" style="width: 70%;height: 100%;text-align: center;border-radius: 20px;" alt="Book Image"
          id="zoomable-image" class="equipment-image">
      </div>
      <div class="col-md-7" style="border-radius: 20px;background-color: #d8d8d8e8;padding: 30px;margin-top: 5px;margin-bottom: 5px;">
        <h3>{{ selectedBook.title }}</h3>
        <small>{{ selectedBook.isbn }}</small>
        <p>{{ selectedBook.authorName }}</p>
        <p><strong>Edition: </strong> {{ selectedBook.edition }}</p>
        <p><strong>Year: </strong> {{ selectedBook.year }}</p>
        <p><strong>Module Code: </strong> {{ selectedBook.module_Code }}</p>
        <hr>
        <div class="row">
          <div class="col-md-5" style="text-align: left;">
            <h1 style="font-weight: bold;">{{ selectedBook.price | currency: 'R':'symbol':'1.2-2' }}</h1>
          </div>
          <div class="col-md-7" style="text-align: right;">
            <div *ngIf="selectedBook.quantity == 0">
              <button class="btn btn-primary" disabled (click)="AddToCart(selectedBook.$id)">
                <small style="color: red;text-align: center;font-weight: bold;">ITEM IS OUT OF STOCK</small><br>
                <small style="font-weight: lighter;">
                  <i class="fa fa-shopping-cart fa-lg"></i> Add to Cart
                </small>
              </button>
            </div>
            <div *ngIf="selectedBook.quantity > 0">
              <button class="btn btn-primary" (click)="AddToCart(selectedBook.book_ID)">
                <small style="font-weight: lighter;">
                  <i class="fa fa-shopping-cart fa-lg"></i> Add to Cart
                </small>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="height: 2cm;"></div>