<div class="container">
    <div class="row">
      <h3 style="font-weight: bold;">
        <i class="far fa-arrow-alt-circle-left fa-md" style="margin-right: 20px; cursor: pointer;"
          [routerLink]="'/Profile'"></i>
        <span [routerLink]="'/Account-Info'" style="cursor: pointer;">
          View Account Information
        </span>
      </h3>
      <h3 style="font-weight: bold;">
        <i class="fa fa-angle-right fa-md" style="margin-right: 10px; margin-left: 10px; cursor: pointer;"
          [routerLink]="'/Profile'"></i>
        Update Password
      </h3>
      <hr style="width: 100%; color: grey; text-align: left;">
    </div>
  
    <div class="container" style="padding: 20px;">
      <form (ngSubmit)="updatePassword()" #passwordForm="ngForm">
        <div class="form-group" style="position: relative;">
          <label style="font-size: large;">Current Password</label><br>
          <div style="position: relative;">
            <input [type]="hideCurrentPassword ? 'password' : 'text'" style="border-radius: 5px;" class="form-control"
              name="currentPassword" [(ngModel)]="model.currentPassword" required>
            <button type="button" mat-icon-button matSuffix (click)="toggleCurrentPasswordVisibility()"
              [attr.aria-label]="'Toggle current password visibility'" [attr.aria-pressed]="hideCurrentPassword"
              style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); z-index: 1;">
              <mat-icon>{{ hideCurrentPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </div>
          <!-- Display validation message for currentPassword -->
          <div *ngIf="formErrors.currentPassword" class="text-danger">{{ formErrors.currentPassword }}</div>
        </div>
        <div class="form-group" style="position: relative;">
          <label style="font-size: large;">New Password</label><br>
          <div style="position: relative;">
            <input [type]="hideNewPassword ? 'password' : 'text'" style="border-radius: 5px;" class="form-control"
              name="newPassword" [(ngModel)]="model.newPassword" required>
            <button type="button" mat-icon-button matSuffix (click)="toggleNewPasswordVisibility()"
              [attr.aria-label]="'Toggle new password visibility'" [attr.aria-pressed]="hideNewPassword"
              style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); z-index: 1;">
              <mat-icon>{{ hideNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </div>
          <!-- Display validation message for newPassword -->
          <div *ngIf="formErrors.newPassword" class="text-danger">{{ formErrors.newPassword }}</div>
        </div>
        <div class="form-group" style="position: relative;">
          <label style="font-size: large;">Confirm Password</label><br>
          <div style="position: relative;">
            <input [type]="hideConfirmPassword ? 'password' : 'text'" style="border-radius: 5px;" class="form-control"
              name="confirmPassword" [(ngModel)]="model.confirmPassword" required>
            <button type="button" mat-icon-button matSuffix (click)="toggleConfirmPasswordVisibility()"
              [attr.aria-label]="'Toggle confirm password visibility'" [attr.aria-pressed]="hideConfirmPassword"
              style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); z-index: 1;">
              <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </div>
          <!-- Display validation message for confirmPassword -->
          <div *ngIf="formErrors.confirmPassword" class="text-danger">{{ formErrors.confirmPassword }}</div>
          <!-- Display validation message for password matching -->
          <div *ngIf="formErrors.confirmPasswordMatch" class="text-danger">{{ formErrors.confirmPasswordMatch }}</div>
        </div>
        <div class="row" style="padding: 20px; display: flex; justify-content: space-between;">
          <button type="submit" class="btn"
            style="padding: 20px; width: fit-content; text-align: center; color: white; background-color: #4F274A; margin-bottom: 10px;">
            UPDATE PASSWORD
          </button>
          <button type="button" class="btn"
            style="padding: 20px; width: fit-content; text-align: center; color: white; background-color: BLACK;"
            (click)="confirmCancel()">
            CANCEL
          </button>
        </div>
      </form>
    </div>
  </div>
  