<div class="titlePage">
    <h4 style="font-weight: bold; padding-top: 5px;">
        <a [routerLink]="'/module'" style="text-decoration: black;">
            <i class="far fa-arrow-alt-circle-left fa-lg" style="color: black;"></i>
        </a>&nbsp;&nbsp;
        <a [routerLink]="'/books'" style="color: black;">BOOKS</a>
        <a [routerLink]="'/faculty'" style="color: black;">
            <i class="fas fa-angle-right fa-lg"></i> FACULTY
        </a>
        <a [routerLink]="'/module'" style="color: black;">
            <i class="fas fa-angle-right fa-lg"></i> MODULE
        </a>
        <i class="fas fa-angle-right fa-lg"></i> ADD MODULE
    </h4>
</div>

<div style="padding: 50px;">
    <div class="row">
        <div class="col-6 offset-1">
            <form class="form-group" [formGroup]="formAdd" (ngSubmit)="addModule()">
                <div class="mb-3">
                    <label class="form-label" style="font-weight: bold;">Module Code</label>
                    <input type="text" class="form-control" placeholder="INF 112" formControlName="name">
                </div>
                <div *ngIf="formAdd.controls['name']?.invalid && formAdd.controls['name']?.touched" class="text-danger">
                    Module Code is required.
                </div>

                <div class="mb-3">
                    <label class="form-label" style="font-weight: bold;">Description</label>
                    <textarea class="form-control" placeholder="Type in Module Description"
                        formControlName="description"></textarea>
                </div>
                <div *ngIf="formAdd.controls['description']?.invalid && formAdd.controls['description']?.touched"
                    class="text-danger">
                    Description is required.
                </div>

                <div class="mb-3">
                    <label class="form-label" style="font-weight: bold;">Department</label>
                    <select class="select form-control" (change)="onOptionChange($event.target)"
                        formControlName="depID">
                        <option value="" disabled selected>Choose a department</option>
                        <option *ngFor="let dep of dep" [value]="dep.department_ID">{{dep.department_Name}}</option>
                    </select>
                </div>
                <div *ngIf="formAdd.controls['depID']?.invalid && formAdd.controls['depID']?.touched"
                    class="text-danger">
                    Department is required.
                </div>

                <button type="button" class="btn normButton"
                    style="width: fit-content;margin-top: 5px;margin-left: 4px;" [disabled]="formAdd.invalid"
                    (click)="confirmAddModule()">
                    ADD MODULE
                </button>
                <button type="button" class="btn normCancel"
                    style="width: fit-content;margin-top: 5px;margin-left: 4px;" (click)="showAbortModal()">
                    CANCEL
                </button>
            </form>
        </div>
    </div>
</div>