<div class="container">
    <div class="row">
        <h3 style="font-weight: bold;">
            <i class="far fa-arrow-alt-circle-left fa-md" style="margin-right: 20px; cursor: pointer;" [routerLink]="'/Login'"></i>Forgot Password
        </h3>
        <hr style="width:100%; color: grey; text-align: left;">
    </div>
    <div class="row" style="text-align: center; padding: 50px;">
        <p>
            If you have forgotten your password, please enter your account’s email address below and click the “SEND
            LINK” button. You will receive an email with a link to set a new password.
        </p>
    </div>
    <div class="row" style="justify-content: center;">
        <form style="width: 100%; text-align: center;" (ngSubmit)="sendPasswordResetLink()">
            <div class="form-group" style="padding-bottom: 50px; padding-left: 15%; padding-right: 15%;">
                <label style="font-size: large; font-weight: bold;">Email</label>
                <input type="email" style="text-align: center;" class="form-control" placeholder="example@email.com" [(ngModel)]="email" name="email">
            </div>
            <div style="text-align: center;">
                <button class="btn" style="background-color: #AE7595; color: #4F274A; width: 150px; height: 50px; font-weight: bolder;" type="submit">SEND LINK</button>
                <button class="btn" style="background-color: black; color: white; margin-left: 10px; width: 100px; height: 50px; font-weight: bolder;" type="button" (click)="onCancel()">CANCEL</button>
            </div>
        </form>
    </div>
</div>

<hr style="width:40%; color: #4F2749;">
