<div class="titlePage">
    <h4></h4>
    <h4 style="font-weight: bold; padding-top: 5px;">
        <a [routerLink]="'/manage-employee'" style="text-decoration: black;">
            <i class="far fa-arrow-alt-circle-left fa-lg" style="color: black;"></i>
        </a>&nbsp;
        <a [routerLink]="'/manage-employee'" style="color: black;">
            MANAGE EMPLOYEE
        </a>&nbsp;
        <i class="fas fa-angle-right fa-lg"></i> UPDATE EMPLOYEE
    </h4>
</div>

<div style="padding: 50px;">
    <div class="row">
        <div class="col-6 offset-1">
            <form [formGroup]="updateEmployeeForm" (ngSubmit)="updateEmployee()">

                <!-- Employee Type Dropdown -->
                <div class="mb-3">
                    <label class="form-label" style="font-weight: bold;">Employee Type</label>
                    <select class="form-select form-control" formControlName="employee_Type_ID">
                        <option *ngFor="let type of employeeTypes" [ngValue]="type.employee_Type_ID">{{ type.name }}</option>
                    </select>
                </div>

                <!-- Name -->
                <div class="mb-3">
                    <label class="form-label" style="font-weight: bold;">Name</label>
                    <input type="text" class="form-control" placeholder="Enter Name" formControlName="name">
                    <div *ngIf="updateEmployeeForm.get('name')?.hasError('required')" class="text-danger">
                        Name is required.
                    </div>
                </div>

                <!-- Surname -->
                <div class="mb-3">
                    <label class="form-label" style="font-weight: bold;">Surname</label>
                    <input type="text" class="form-control" placeholder="Enter Surname" formControlName="surname">
                    <div *ngIf="updateEmployeeForm.get('surname')?.hasError('required')" class="text-danger">
                        Surname is required.
                    </div>
                </div>

                <!-- Cell Number -->
                <div class="mb-3">
                    <label class="form-label" style="font-weight: bold;">Cell Number</label>
                    <input type="text" class="form-control" placeholder="Enter Cell Number" formControlName="cell_Number">
                    <div *ngIf="updateEmployeeForm.get('cell_Number')?.hasError('required')" class="text-danger">
                        Cell Number is required.
                    </div>
                    <div *ngIf="updateEmployeeForm.get('cell_Number')?.hasError('pattern')" class="text-danger">
                        Cell Number must start with '0' and be 10 characters long.
                    </div>
                </div>

                <!-- Email -->
                <div class="mb-3">
                    <label class="form-label" style="font-weight: bold;">Email</label>
                    <input type="email" class="form-control" placeholder="Enter Email" formControlName="email">
                    <div *ngIf="updateEmployeeForm.get('email')?.hasError('required')" class="text-danger">
                        Email is required.
                    </div>
                    <div *ngIf="updateEmployeeForm.get('email')?.hasError('email')" class="text-danger">
                        Please enter a valid email address.
                    </div>
                </div>

                <!-- Physical Address -->
                <div class="mb-3">
                    <label class="form-label" style="font-weight: bold;">Physical Address</label>
                    <textarea class="form-control" placeholder="Enter Physical Address" formControlName="physical_Address"></textarea>
                    <div *ngIf="updateEmployeeForm.get('physical_Address')?.hasError('required')" class="text-danger">
                        Physical Address is required.
                    </div>
                </div>

                <!-- Date of Birth -->
                <div class="mb-3">
                    <label class="form-label" style="font-weight: bold;">Date of Birth</label>
                    <input type="date" class="form-control" formControlName="birthDate" [value]="savedBirthDate">
                    <div *ngIf="updateEmployeeForm.get('birthDate')?.hasError('required')" class="text-danger">
                        Birth Date is required.
                    </div>
                    <div *ngIf="updateEmployeeForm.get('birthDate')?.hasError('birthdateInvalid')" class="text-danger">
                        Age must be 18 years or above.
                    </div>
                </div>


                <!-- Emergency Contact Name -->
                <div class="mb-3">
                    <label class="form-label" style="font-weight: bold;">Emergency Contact Name</label>
                    <input type="text" class="form-control" placeholder="Enter Emergency Contact Name" formControlName="emergency_Contact_Name">
                    <div *ngIf="updateEmployeeForm.get('emergency_Contact_Name')?.hasError('required')" class="text-danger">
                        Emergency Contact Name is required.
                    </div>
                </div>

                <!-- Emergency Contact Cell Number -->
                <div class="mb-3">
                    <label class="form-label" style="font-weight: bold;">Emergency Contact Cell Number</label>
                    <input type="text" class="form-control" placeholder="Enter Emergency Contact Cell Number" formControlName="emergency_Contact_Cell">
                    <div *ngIf="updateEmployeeForm.get('emergency_Contact_Cell')?.hasError('required')" class="text-danger">
                        Emergency Contact Cell Number is required.
                    </div>
                    <div *ngIf="updateEmployeeForm.get('emergency_Contact_Cell')?.hasError('pattern')" class="text-danger">
                        Emergency Contact Cell Number must start with '0' and be 10 characters long.
                    </div>
                </div>

 <!-- Image -->
<div class="mb-3">
    <label class="form-label" style="font-weight: bold;">Image</label>
    <input type="file" name="image" accept=".jpg, .jpeg, .png" (change)="onImageFileChange($event)" />
    <img *ngIf="imageSrc" [src]="imageSrc" alt="Employee Image" style="max-width: 100%; max-height: 200px;" />
</div>

  


                <!-- Success Message -->
                <div *ngIf="successMessage" class="alert alert-success">
                    {{ successMessage }}
                </div>

                <!-- Error Message -->
                <div *ngIf="errorMessage" class="alert alert-danger">
                    {{ errorMessage }}
                </div>

                <!-- Update Employee Button -->
                <button type="submit" class="btn normButton" style="margin-left: 4px; width: fit-content; margin-top: 5px;">UPDATE EMPLOYEE</button>

                <!-- Cancel Button -->
                <button type="button" class="btn normCancel" style="margin-left: 4px; width: fit-content; margin-top: 5px;" (click)="cancelUpdateEmployee()">CANCEL</button>

            </form>
        </div>
    </div>
</div>
