<div class="container" style="padding: 50px;">
    <div style="text-align: center;">
        <h1 style="font-weight: bold;padding-bottom: 50px;color:black;">ORDERS</h1>
        <div class="row">
            <div class="col">
                <div style="background-color:rgb(218, 215, 215);border-radius: 7px;padding: 50px;margin-bottom: 25px;" [routerLink]="'/order-placed'">
                    <i class="fas fa-map-marker-alt fa-6x" style="color: #4F274A;"></i>
                    <h6 style="font-weight: bold;padding-top: 20px;" >Orders Placed</h6>
                </div>
            </div>
            <div class="col">
                <div style="background-color:rgb(218, 215, 215);border-radius: 7px;padding: 50px;margin-bottom: 25px;"  [routerLink]="'/order-ready'">
                    <i class="fa fa-spinner fa-6x" style="color: #4F274A;"></i>
                    <h6 style="font-weight: bold;padding-top: 20px;">Orders Pending Collection</h6>
                </div>
            </div>
            <div class="col">
                <div style="background-color:rgb(218, 215, 215);border-radius: 7px;padding: 50px;margin-bottom: 25px;" [routerLink]="'/order-collect'">
                    <i class="fa fa-check-circle fa-6x" style="color:#4F274A;"></i>
                    <h6 style="font-weight: bold;padding-top: 20px;" >Collected Orders</h6>
                </div>
            </div>
        </div>
    </div>
</div> 