.dropdown-item:hover {
    background-color: #AE7595;
}


  
  .alert {
    color: rgb(255, 0, 255);
    font-weight: bold;
  }
  
  .snackbar-success {
    background-color: #AE7595; /* Green */
  }
  
  .snackbar-error {
    background-color: #4f274a; /* Red */
  }
  
  /* Customize your other styles as needed */
  