<div class="titlePage">
    <h4> </h4>
    <h4 style="font-weight: bold; padding-top: 5px;">
        <a [routerLink]="'/department'" style="text-decoration: black;">
            <i class="far fa-arrow-alt-circle-left fa-lg" style="color: black;"></i>
        </a>&nbsp;&nbsp;
        <a [routerLink]="'/books'" style="color: black;">
            BOOKS
        </a>
        <a [routerLink]="'/faculty'" style="color: black;">
            <i class="fas fa-angle-right fa-lg"></i>
            FACULTY
        </a>
        <a [routerLink]="'/department'" style="color: black;">
            <i class="fas fa-angle-right fa-lg"></i>
            DEPARTMENT
        </a>
        <i class="fas fa-angle-right fa-lg"></i> UPDATE DEPARTMENT
    </h4>
</div>

<div style="padding: 50px;">
    <div class="row">
        <div class="col-6 offset-1">
            <form class="form-group" [formGroup]="formUpdate" (ngSubmit)="updateDepartment()">
                <div class="mb-3">
                    <label class="form-label" style="font-weight: bold;">Name</label>
                    <input type="email" class="form-control" placeholder="Information Science" name="name"
                        formControlName="name">
                </div>
                <div *ngIf="formUpdate.controls['name']?.invalid && formUpdate.controls['name']?.touched"
                    class="text-danger">
                    Name is required.
                </div>

                <div class="mb-3">
                    <label class="form-label" style="font-weight: bold;">Faculty</label>
                    <select class="select form-control" (change)="onOptionChange($event.target)"
                        placeholder="Choose a Faculty" formControlName="facID" name="facID">
                        <option *ngFor="let fac of fac" value="{{fac.faculty_ID}}">{{fac.faculty_Name}}</option>
                    </select>
                </div>
                <div *ngIf="formUpdate.controls['facID']?.invalid && formUpdate.controls['facID']?.touched"
                    class="text-danger">
                    Faculty is required.
                </div>

                <button type="button" class="btn normButton" style="width: fit-content; margin-left: 4px;margin-top: 5px;" (click)="showUpdateAlert()">UPDATE DEPARTMENT</button>
                <button type="button" class="btn normCancel" style="width: fit-content; margin-left: 4px;margin-top: 5px;" (click)="showCancelAlert()">CANCEL</button>
            </form>
        </div>
    </div>
</div>