<div class="titlePage">
    <h4> </h4>
    <h4 style="font-weight: bold; padding-top: 5px;"> &nbsp;&nbsp;INVENTORY</h4>
</div>
<div style="padding: 50px; text-align: center;">
    <div>
        <a [routerLink]="'/books'" class="buttons btn btn-lg">
            <i class="fas fa-book fa-lg"></i>&nbsp;&nbsp;
            BOOKS
        </a>
    </div>
    <br>
    <br>
    <div>
        <a [routerLink]="'/lab_equipment'" class="buttons btn btn-lg">
            <i class="fas fa-microscope fa-lg"></i>&nbsp;&nbsp;
            LAB EQUIPMENT
        </a>
    </div>
    <br>
    <br>
    <div>
        <a [routerLink]="'/vat'" class="buttons btn btn-lg">
            <i class="fa fa-percent fa-lg"></i>&nbsp;&nbsp;
            VAT
        </a>
    </div>
</div>