<div class="container" style="padding: 50px;">
  <h3 style="font-weight: bold; text-align: center;">RESET PASSWORD</h3>
  <br>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
    <div class="form-group" style="position: relative;">
      <label for="newPassword">New Password</label>
      <div class="input-group">
        <input
          type="{{ newPasswordVisible ? 'text' : 'password' }}"
          id="newPassword" 
          class="form-control"
          formControlName="newPassword"
          placeholder="Enter your new password"
          style="padding-right: 36px;"
        />
        <div class="input-group-append" style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%);">
          <button
            type="button"
            class="btn btn-light"
            (click)="togglePasswordVisibility('newPassword')"
            style="background-color: transparent; border: none;"
          >
            <mat-icon *ngIf="!newPasswordVisible">visibility_off</mat-icon>
            <mat-icon *ngIf="newPasswordVisible">visibility</mat-icon>
          </button>
        </div>
      </div>
      <!-- Password Validation -->
      <div *ngIf="resetPasswordForm?.get('newPassword')?.hasError('required') && resetPasswordForm?.get('newPassword')?.touched">
        <div class="validation-message">{{ passwordValidationMessage }}</div>
      </div>
    </div>
    <div class="form-group" style="position: relative;">
      <label for="confirmPassword">Confirm Password</label>
      <div class="input-group">
        <input
          type="{{ confirmPasswordVisible ? 'text' : 'password' }}"
          id="confirmPassword"
          class="form-control"
          formControlName="confirmPassword"
          placeholder="Confirm your new password"
          style="padding-right: 36px;"
        />
        <div class="input-group-append" style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%);">
          <button
            type="button"
            class="btn btn-light"
            (click)="togglePasswordVisibility('confirmPassword')"
            style="background-color: transparent; border: none;"
          >
            <mat-icon *ngIf="!confirmPasswordVisible">visibility_off</mat-icon>
            <mat-icon *ngIf="confirmPasswordVisible">visibility</mat-icon>
          </button>
        </div>
      </div>

    
      <!-- Display validation error message -->
      <div *ngIf="resetPasswordForm?.get('confirmPassword')?.hasError('required') && resetPasswordForm?.get('confirmPassword')?.touched">
        Confirm Password is required.
      </div>
      <!-- Display validation error message for password mismatch -->
      <div *ngIf="resetPasswordForm?.hasError('passwordMismatch') && resetPasswordForm?.get('confirmPassword')?.touched">
        Passwords do not match.
      </div>
    </div>
    <div class="row" style="padding: 20px; display: flex; justify-content: space-between;">
      <button type="submit" class="btn" style="background-color:#4F2749; margin-top:5px;font-weight: bold;color: white;" [disabled]="resetPasswordForm.invalid">
        RESET PASSWORD
      </button>
      <button class="btn" type="button" style="background-color:black; margin-top:5px;font-weight: bold;color: white;" (click)="cancelReset()">
        CANCEL
      </button>
    </div>
  </form>
</div>
