<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>
<footer style="background-color: #4F2749;width: 100%;;padding: 10px;position: absolute;">
    <div style="justify-content: center;text-align: center;padding-top: 25px;">
        <a href="https://www.facebook.com/TheBookMarket01/" target="_blank">
            <i class="fab fa-facebook-f fa-lg" style="color: white;margin-left: 20px;margin-right: 20px;cursor: pointer;"></i>
        </a>
        <a href="https://www.instagram.com/the_book_market/" target="_blank">
            <i class="fab fa-instagram fa-lg" style="color: white;margin-left: 20px;margin-right: 20px;cursor: pointer;"></i>
        </a>
        <a href="https://twitter.com/TheBookMarket" target="_blank">
            <i class="fab fa-twitter fa-lg" style="color: white;margin-left: 20px;margin-right: 20px;cursor: pointer;"></i>
        </a>
       
        <!--<i class="fab fa-whatsapp fa-lg" style="color: white;margin-left: 20px;margin-right: 20px;cursor: pointer;"></i>-->
    </div>
    <hr style="width:150px;text-align: center;background-color: #F5DEE9;">
    <div class="container" style="margin-top: 40px;">
        <div class="row" style="text-align: center;">
            <div class="col-md" style="text-align: center; color: white;">
                <h2 style="font-weight: bolder;">Operating Times</h2>
                <p style="font-weight: bold;">Monday - Friday<br>
                    08:00 - 17:00</p>
                <p style="font-weight: bold;">Saturday, Sunday & Public Holidays<br>
                    Closed</p>
            </div>
            <div class="col-md" style="text-align: center; color: white;">
                <h2 style="font-weight: bolder;">Contact Us</h2>
                <p type="email"><a href="mailto: thebookmarket@gmail.com" style="text-transform: none;color: white;"><i
                            class="fas fa-paper-plane fa-lg">&nbsp;</i>info@thebookmarket.co.za</a></p>
                <p><a href="https://maps.app.goo.gl/QVh1S5XwVsBz2buy8?g_st=iw" target="_blank" style="color: white;"><i
                            class="fa fa-thumb-tack fa-lg">&nbsp;</i>114 Duxbury Road, Hillcrest, Pretoria</a></p>
                <p><a href="tel:061-659-9290" target="_blank" style="color: white;"><i
                            class="fas fa-phone-alt fa-lg">&nbsp;</i>076 109 5599</a></p>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 40px;text-align: center;">
        <img src="../assets/Logo.png" style="width: 10%;height: 10%;">
    </div>
</footer>