<div class="titlePage">
  <h4> </h4>
  <h4 style="font-weight: bold; padding-top: 5px;">
    <a [routerLink]="'/prescribed-book'" style="text-decoration: black;">
      <i class="far fa-arrow-alt-circle-left fa-lg" style="color: black;"></i>
    </a>&nbsp;&nbsp;
    <a [routerLink]="'/books'" style="color: black;">
      BOOKS
    </a>&nbsp;
    <a [routerLink]="'/prescribed-book'" style="color: black;">
      <i class="fas fa-angle-right fa-lg"></i>&nbsp; PRESCRIBED BOOK
    </a>&nbsp;
    <i class="fas fa-angle-right fa-lg"></i> UPLOAD LIST
  </h4>
</div>

<div class="container" style="text-align: center;justify-content: center;padding: 50px;">
  <form>
    <div>
      <div class="dropzone" >
        <div class="text-wrapper">
          
          <div class="centered" style="padding: 50px;">
            <h4 for="file" style="font-weight: bold;">Select your file or Drop it here!</h4><br>
            <input type="file" name="file" id="file" style="width: 100%;height: 100%;padding-left: 50px;"  multiple>
          </div>
        </div>
      </div>
    </div>
    <button class="normButton btn" style="margin: 20px;" type="button" (click)="uploadList()">
      UPLOAD LIST
    </button>    
  </form>
</div>