<div class="titlePage">
  <h4> </h4>
  <h4 style="font-weight: bold; padding-top: 5px;">
    <a [routerLink]="'/faculty'" style="text-decoration: black;">
      <i class="far fa-arrow-alt-circle-left fa-lg" style="color: black;"></i>
    </a>&nbsp;&nbsp;
    <a [routerLink]="'/books'" style="color: black;">
      BOOKS
    </a>
    <a [routerLink]="'/faculty'" style="color: black;">
      <i class="fas fa-angle-right fa-lg"></i> FACULTY
    </a>
    <i class="fas fa-angle-right fa-lg"></i> ADD FACULTY
  </h4>
</div>

<div style="padding: 50px;">
  <div class="row">
    <div class="col-6 offset-1">
      <form class="form-group" [formGroup]="formAdd" (ngSubmit)="showAddConfirmation()">
        <div class="mb-3">
          <label class="form-label" style="font-weight: bold;">Name</label>
          <input type="text" class="form-control" placeholder="Faculty Of Law" name="name" formControlName="name">
        </div>
        <div *ngIf="formAdd.controls['name']?.invalid && formAdd.controls['name']?.touched" class="text-danger">
          Name is required.
        </div>

        <button type="button" class="btn normButton" style="width: fit-content;margin-top: 5px;margin-left: 4px;" (click)="showAddConfirmation()"
                [disabled]="formAdd.invalid">ADD FACULTY</button>
        <button type="button" class="btn normCancel" style="width: fit-content;margin-top: 5px;margin-left: 4px;"
                (click)="showCancelConfirmation()">CANCEL</button>
      </form>
    </div>
  </div>
</div>
