<div class="titlePage">
    <h4 style="font-weight: bold; padding-top: 5px;"> &nbsp;&nbsp;SUPPLIER</h4>
</div>

<div class="row" style="padding-left: 15px;padding-right: 15px;">
    <div class="col-md-8">
        <form (input)="searchSupplier()">
            <input [(ngModel)]="searchInput" name="searchInput" type="search" placeholder="Search...">&nbsp;
        </form>
    </div>
    <div class="col-md-4" style="justify-content: flex-end;text-align: right;padding-top: 10px;">
        <a [routerLink]="'/add_supplier'" class="normButton btn">
            <i class="fas fa-plus fa-lg"></i>
            &nbsp;
            ADD SUPPLIER
        </a>
    </div>
</div>

<div style="padding-left: 15px;padding-right: 15px;padding-top: 15px;width:100%">
    <table class="table table-inverse datatable-table" style="width: 100%;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Cell</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr style="height: max-content;" *ngFor="let sup of supp">
                <td style="width: 15%;">
                    {{sup.supplier_Name}}
                </td>
                <td style="width: 20%;">
                    {{sup.supplier_Address}}
                </td>
                <td style="width: 15%;">
                    {{sup.supplier_Email}}
                </td>
                <td style="width: 15%;">
                    {{sup.supplier_CellNumber}}
                </td>
                <td style="text-align: right;">
                    <button class="btn update" style="margin-left: 4px;margin-top: 5px;" (click)="updateSupplier(sup.supplier_ID)"><i
                            class="fa fa-edit"></i>&nbsp;&nbsp;UPDATE</button>
                    <button class="btn delete" style="margin-left: 4px;margin-top: 5px;" (click)="DeleteSupplier(sup.supplier_ID)">
                        <i class="far fa-trash-alt"></i>&nbsp;&nbsp;DELETE
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>