<div class="titlePage">
  <h4> </h4>
  <h4 style="font-weight: bold; padding-top: 5px;">
    <a [routerLink]="'/employee_type'" style="text-decoration: black;">
      <i class="far fa-arrow-alt-circle-left fa-lg" style="color: black;"></i>
    </a>&nbsp;
    <a [routerLink]="'/employee_type'" style="color: black;">
      EMPLOYEE TYPES
    </a>&nbsp;
    <i class="fas fa-angle-right fa-lg"></i> ADD TYPE
  </h4>
</div>

<div class="container" style="padding: 50px;">
  <div class="row">
    <div class="col-6 offset-1">
      <form class="form-group" [formGroup]="formAdd">

        <div class="mb-3">
          <label class="form-label" style="font-weight: bold;">Name</label>
          <input type="text" class="form-control" placeholder="Administrator" name="name" formControlName="name">
          <div *ngIf="formAdd.controls['name']?.invalid && formAdd.controls['name']?.touched" class="text-danger">
            Name is required.
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" style="font-weight: bold;">Description</label>
          <textarea class="form-control" placeholder="Type in the description of the new employee type"
            formControlName="description" name="description"></textarea>
          <div *ngIf="formAdd.controls['description']?.invalid && formAdd.controls['description']?.touched"
            class="text-danger">
            Description is required.
          </div>
        </div>

        <button type="button" class="btn normButton" style="margin-top: 5px;margin-left: 4px;width: fit-content;"
          [disabled]="formAdd.invalid" (click)="showAddConfirmation()">ADD TYPE</button>
        <button type="button" class="btn normCancel"
          style="margin-top: 5px;margin-left: 4px;width: fit-content;" (click)="showCancelConfirmation()">CANCEL</button>

      </form>
    </div>
  </div>
</div>