<div class="titlePage">
    <h4> </h4>
    <h4 style="font-weight: bold; padding-top: 5px;">
      <a [routerLink]="'/vouchers'" style="text-decoration: black;">
        <i class="far fa-arrow-alt-circle-left fa-lg" style="color: black;"></i>
      </a>&nbsp;&nbsp;
      <a [routerLink]="'/vouchers'" style="color: black;">
        VOUCHER
      </a>
      <i class="fas fa-angle-right fa-lg"></i> GENERATE NEW VOUCHER
    </h4>
  </div>
  
  <div style="padding: 50px;">
    <div class="row">
      <div class="col-6 offset-1">
        <form class="form-group" [formGroup]="formAddVoucher" (ngSubmit)="addNewVoucher()">
          <div class="mb-3" >
            <label class="form-label" style="font-weight: bold;"> Discount percent </label>
            <input type="number" min="1" max="99"  class="form-control" placeholder="" name="percent" formControlName="percent">
            <div *ngIf="formAddVoucher.controls['percent']?.invalid" class="text-danger">
              Please only put a numeric value between 1 and 100
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" style="font-weight: bold;"> Expiry Date </label>
            <input type="date" class="form-control" placeholder="" name="expiry_Date"
              formControlName="expiry_Date" min={{minimumDate}}>
              <div *ngIf="formAddVoucher.controls['expiry_Date']?.invalid" class="text-danger">
                Expiry date is required.
              </div>
          </div>
          <button type="button" class="btn normButton" style="width: fit-content;margin-top: 5px;margin-left: 4px;" (click)="ConfirmAddVoucher()"> 
            ADD VOUCHER 
          </button>
          <button type="button" class="btn normCancel" style="width: fit-content;margin-top: 5px;margin-left: 4px;" (click)="AbortAddVoucher()"> 
            CANCEL 
          </button>
        </form>
      </div>
    </div>
  </div>


