<div class="titlePage">
  <h4></h4>
  <h4 style="font-weight: bold; padding-top: 5px;">
    <a [routerLink]="'/lab_equipment'" style="text-decoration: black;">
      <i class="far fa-arrow-alt-circle-left fa-lg" style="color: black;"></i>
    </a>&nbsp;&nbsp;
    <a [routerLink]="'/lab_equipment'" style="color: black;">LAB EQUIPMENT</a>
    <i class="fas fa-angle-right fa-lg"></i> ADD LAB EQUIPMENT
  </h4>
</div>

<div style="padding: 50px;">
  <div class="row">
    <div class="col-6 offset-1">
      <form class="form-group" [formGroup]="formAdd"  enctype="multipart/form-data">
        <div class="mb-3">
          <!--Name of the equipment-->
          <label class="form-label" style="font-weight: bold;">Name</label>
          <input type="text" class="form-control" placeholder="Name of equipment" name="name" formControlName="name">
        </div>
        <!--Description of the equipment-->
        <div class="mb-3">
          <label class="form-label" style="font-weight: bold;">Description</label>
          <textarea type="text" class="form-control" placeholder="Type description here" name="Description"
            formControlName="Description"></textarea>
        </div>
        <!--Quantity on hand-->
        <div class="mb-3">
          <label class="form-label" style="font-weight: bold;">Quantity On Hand</label>
          <input type="number" class="form-control" placeholder="0" name="Quantity" formControlName="Quantity"
                 min="0" max="50" step="1">
        </div>

        <!--Amount-->
        <div class="mb-3">
          <label class="form-label" style="font-weight: bold;">Sale Amount</label>
          <input type="number" class="form-control" placeholder="0.00" name="PriceAmount" formControlName="PriceAmount"
            min="0" max="5000" step=".01">
        </div>

      <!-- Module -->
<div class="mb-3">
  <label class="form-label" style="font-weight: bold;">Module Codes</label>
  <select class="select form-control" (change)="onOptionChange($event.target)">
    <option value="">Select Module</option> <!-- Add this default option -->
    <option *ngFor="let m of Modules" value="{{m.module_ID}}">{{m.module_Code}}</option>
  </select>
</div>

<!-- EquipmentType -->
<div class="mb-3">
  <label class="form-label" style="font-weight: bold;">Equipment Type</label>
  <select class="select form-control" (change)="onEquipmentType($event.target)">
    <option value="">Select Equipment Type</option> <!-- Add this default option -->
    <option *ngFor="let type of EquipmentTypes" value="{{type.equipmentType_ID}}">{{type.name}}</option>
  </select>
</div>


      <!--Image-->
<div class="mb-3">
  <label class="form-label" style="font-weight: bold;">Equipment Image</label>
  <input type="file" class="form-control" name="Image" formControlName="Image" (change)="uploadImage($event)">
</div>

        <!--The buttons-->
        <button type="submit" class="btn normButton" style="width: fit-content;margin-top: 5px;margin-left: 4px;"
        (click)="Addequipment()" >ADD LAB EQUIPMENT</button>
        <button type="button" class="btn normCancel" style="width: fit-content;margin-top: 5px;margin-left: 4px;" (click)="AbortAdd()">CANCEL</button>



